*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cabecalho header{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: aquamarine;
}
.cabecalho ul{
    display: grid;
    background-color: blanchedalmond;

}
.cabecalho a{
    text-decoration: none;
}
.cabecalho li{
    list-style-type: none;
}

.container, .rodape{
    border: 1px solid black;
    font-size: 16px;
    color: #000a55;
}

.container ol li{
    list-style-type: none;
    display: contents;
}
.logo {
    max-width: 120px;
}
.imagem{
    width: 150px;
    border-radius: 10px;
}
.container article img{
    text-align: center;
}
h1, h2, p{
    margin: 0 10px;
    padding: 0 10px
}
